<!DOCTYPE html>

<head>
  <meta http-equiv = "Content-Language" content = "en-us" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Home page</title>
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<div class="box1 bg-img">
  <div class="edit-team">
    <h2 style="font-size:20px;">Edit Team</h2>
    <div class="forms">
      <div class="user-input" id="user-input">
        <%= form_tag "/skills/mvc/teams/#{@team.id}/edit", method: :patch  do %>
          <p><%= label_tag :team_name %></p>
          <%= text_field_tag :team_name, "#{@team.team_name}", :id => 'team-name'%>
          <p><%= label_tag :state %></p>
          <%= text_field_tag :state, "#{@team.state}", :id => 'team-state'%>
          <p><%= label_tag :year_of_inception %></p>
          <%= number_field_tag :year_of_inception, "#{@team.year_of_inception}", :id => 'year' %>
          <%= submit_tag 'Update team' %>
        <% end %>
    <br>
      </div>
    </div>
  </div>
</div>


<div class="box2 bg-img">
  <div class="add-player">
    <h2 style="font-size:20px;">Add a player</h2>
    <div class="forms">
      <div class="user-input" id="user-input">
        <%= form_tag "/skills/mvc/teams/#{@team.id}/player/new", method: :post  do %>
          <%= label_tag :name %>
          <%= text_field_tag :name, "", :id => 'player-name'%>
          <%= label_tag :height_in_inches %>
          <%= number_field_tag :height, "", :id => 'height'%>
          <%= label_tag :weight %>
          <%= number_field_tag :weight, "", :id => 'weight' %>
          <%= label_tag :college %>
          <%= text_field_tag :college, "", :id => 'player-college'%>
          <%= label_tag :home_state %>
          <%= text_field_tag :home_state, "", :id => 'player-state'%>
          <%= label_tag :position %>
          <%= text_field_tag :position, "", :id => 'player-position'%>
          <br>
          <br>

          <%= submit_tag 'Add player' %>
        <% end %>
    <br>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
