<!DOCTYPE html>
<html>
  <head>
    <title>ShowCase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="larger">
      <div class="container">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <!-- <li><a href="#">About</a></li> -->
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
